/* SCROLLBAR ONLY */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  /* background: #493280; */
  background: rgb(113, 7, 167);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(170,0,255,1)
}
::-webkit-scrollbar-thumb:active {
  background: rgb(142, 79, 223);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.212);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/* FOR INPUT SLIDER ONLY */
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 11.65px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #673ab7, 0px 0px 0px #7446c4;
    border: 5.1px solid #673ab7;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.65px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #673ab7, 0px 0px 0px #7446c4;
    border: 5.1px solid #673ab7;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 2.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(128, 128, 128, 0.78);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #673ab7, 0px 0px 0px #7446c4;
    border: 5.1px solid #673ab7;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 2.7px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
  }
.thumb{
    display: none !important;
     background-color: transparent !important;
 }
  
/* END OF INPUT */
.avatar{
    margin-top: 10px;
    margin-bottom: -10px;
}

.brand-logo{
    font-size: 1rem !important;
}
.small-text{
    font-size: 1rem !important;
}

body{
    background-color: #303030;
    /* height: 1000px; */
    font-family: Roboto !important;
}

/* FIXED THE FOOTER */
.bottom-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

.big-tab{
    color: rgba(255, 255, 255, 0.3);
}

.big-tab-active{
    color: white;
}

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.progress{
    margin-top: 0 !important;
}

#player {
    min-height: 100% !important;
    background-color: #303030 !important;
}

.smaller-text{
    font-size: 0.85rem !important;
    color: grey !important;
}



.tabs-custom{
    background-color: #303030 !important;
}

.tabs-custom .tab a {
  color: #fff !important;
  /* font-size: 1.5rem !important; */
  /*Custom Text Color*/
}

.tabs-custom .tab a:hover {
  color: white !important;
  /*Custom Color On Hover*/
}

.tabs-custom .tab a:focus.active {
  /* color:#26a69a !important; */
  /*Custom Text Color While Active*/
 
  /* background-color:black !important; */
  /*Custom Background Color While Active*/
  background-color: #673AB7 !important;
}

.tabs-custom .indicator {
  background-color: #673AB7 !important;
  /*Custom Color Of Indicator*/
}

.tabs-content{
  background-color: #303030 !important;
  min-height: auto !important;
  margin-top: 50px !important;
  height: calc(100% + 200px) !important;
  /* padding-bottom: 200px !important; */
}

/* PARA DI MASELECT YUNG TEXT */
a{
    user-select: none !important;
}


.dropdown-content li>a:hover {
  background: linear-gradient(90deg, rgba(170,0,255,1) 0%, rgba(0,212,255,1) 100%) !important;

    color: white !important;
}
.dropdown-content li>a:active {
    background-color: rgb(0, 0, 0)  !important;
    color: white !important;
}
.dropdown-content li>a {
    /* background-color: #673AB7  !important; */
    color: white !important;
}


a .material-icons:hover{
  background: linear-gradient(90deg, rgba(170,0,255,1) 0%, rgba(0,212,255,1) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* OVERRIDE DROPDOWN CHUCHU */

.dropdown-content {
  overflow-y: visible !important;
}

/* #context-menu-dropdown-submenu {
  top: -40px !important;
  left: -40px !important;
} */

.progress .determinate{
  background: linear-gradient(90deg, rgba(170,0,255,1) 0%, rgba(0,212,255,1) 100%) !important;

}

.deep-purple-gradient-text{
  background: linear-gradient(90deg, rgba(170,0,255,1) 0%, rgba(0,212,255,1) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.deep-purple-gradient{
  background: linear-gradient(90deg, rgba(170,0,255,1) 0%, rgba(0,212,255,1) 100%) !important;
}

.rounded{
  border-radius: 10px;
}

.spinner-blue{
  border-color: rgba(170,0,255,1);
}
.spinner-red{
  border-color: rgba(0,212,255,1);
}
.spinner-yellow{
  border-color: rgba(170,0,255,1);
}

.parallax-container{
  background-color: rgba(0, 0, 0, 0.541);
}


/* WHAT I ADDED STARTS HERE */

h6 {
  font-weight: bold;
} 


/* FOR SETTINGS: SWITCHES */
.switch label input[type=checkbox]:checked + .lever:after {
 
  background-color: #a16bff;
 
}


.switch label .lever {
  position: absolute;
  top: 50%;
  left: 20px;
}

.switch label .lever {
 
  content: "";
 
  display: inline-block;
 
  position: relative;
 
  width: 36px;
 
  height: 14px;
 
  background-color: rgba(141, 110, 99, 0.8);
 
  border-radius: 15px;
 
  margin-right: 10px;
 
  -webkit-transition: background 0.3s ease;
 
  transition: background 0.3s ease;
 
  vertical-align: middle;
 
  margin: 0 16px;
 
}

/* FOR ACCOUNT: IMAGE */
/* .responsive-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */

.fab {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
 

/* FOR ALL HEADINGS*/
/* h4 {
 
  word-spacing: 15px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 1px;
  
} */


    /* STYLE FOR IMG ACCOUNT */

    .shadow {
      position: absolute;
      max-width: 50%;
      max-height: 50%;
      top: 50%;
      left: 50%;
      overflow: visible;
    }

    /* .circle  {
      position: relative;
      max-width: 100%;
      max-height: 100%;
      top: -50%;
      left: -50%;
    } */
 
    [type="checkbox"]:checked:not(.lever):before {
      top: -4px;
      left: -5px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #b621fe;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    [type="radio"]:checked:not(.lever):before {
      top: -4px;
      left: -5px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    .switch label input[type=checkbox]:checked + .lever:after {
      background-color:#b621fe #1fd1f9;
    }
.preloader-container{
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #303030; 
   z-index: 1011;

 }  

.loader{
    position: relative;
    top: calc(100vh - 200px) ;
    left: calc(50% - 40px) ;
    z-index: 1010;
}

.preloader-logo{
  position: relative;
  width: 100px;
  left: calc(50% - 36px);
    top: calc(50vh - 100px);
}

.modal{
  z-index: 1012;
}
